<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fortune Cookie API</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/startbootstrap-new-age-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/startbootstrap-new-age-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/startbootstrap-new-age-gh-pages/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../static/startbootstrap-new-age-gh-pages/device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="../static/startbootstrap-new-age-gh-pages/css/new-age.min.css" rel="stylesheet">

    {% if gaid %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-21266234-25"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', '{{ gaid }}');
    </script>
    {% endif %}


  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Fortune Cookie API</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/info">API Info</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">Here's your free cookie:</h1>

              <h3>
              {{ cookie }}
              </h3>
              <br><br>

              <a href="/" class="btn btn-outline btn-xl js-scroll-trigger">More cookie!!</a>
            </div>
          </div>

          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div>
                <img src="/static/clipart119777.png" alt="">
              </div>
            </div>
          </div>

        </div>
      </div>
    </header>


    <footer>
      <div class="container">
        <p>&copy; Volker Kettenbach 2018. All Rights Reserved.</p>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/startbootstrap-new-age-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="../static/startbootstrap-new-age-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/startbootstrap-new-age-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/startbootstrap-new-age-gh-pages/js/new-age.min.js"></script>

  </body>

</html>
