<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fortune Cookie API - Documentation</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/startbootstrap-new-age-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/startbootstrap-new-age-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/startbootstrap-new-age-gh-pages/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/startbootstrap-new-age-gh-pages/device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/startbootstrap-new-age-gh-pages/css/new-age.min.css" rel="stylesheet">

      {% if gaid %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-21266234-25"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag() {
              dataLayer.push(arguments);
          }
          gtag('js', new Date());
          gtag('config', '{{ gaid }}');
      </script>
      {% endif %}

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Fortune Cookie API Documentation</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <style>
      header.mastheadinfo {
        position: relative;
        width: 100%;
        padding-top: 150px;
        padding-bottom: 100px;
        color: white;
        background: url("../static/startbootstrap-new-age-gh-pages/img/bg-pattern.png"), #36193e;
        background: url("../static/startbootstrap-new-age-gh-pages/img/bg-pattern.png"), -webkit-gradient(linear, right top, left top, from(#36193e), to(#41377f));
        background: url("../static/startbootstrap-new-age-gh-pages/img/bg-pattern.png"), linear-gradient(to left, #36193e, #41377f);
      }

      pre {
        display: block;
        font-size: 87.5%;
        font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
        color: white;
      }
      h5 {
        font-weight: bold;
      }
    </style>

    <header class="mastheadinfo">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-3">Fortune Cookie API</h1>

                <h3>Source</h3>
                Source code is available at <a href="https://gitlab.com/volkerkettenbach/fortunes-api">https://gitlab.com/volkerkettenbach/fortunes-api</a>


                <br><br>
             <h3>Usage</h3>

              <h4>Retrieve a fortune cookie from any category and language</h4>

              <br>

              <h5>Request</h5>

              <pre>GET /api</pre>

              <h5>Response (application/json):</h5>

              <pre>{
 "fortune": "Never underestimate the power of somebody with source code, a text editor,
  and the willingness to totally hose their system.
     -- Rob Landley <telomerase@yahoo.com>",
"source": [
  "fortunes/de",
  "fortunes/en"
  ]
}
              </pre>


              <br><br>
              <h4>Retrieve a fortune cookie from a specific category and language</h4>

              <h5>Request</h5>

              <pre>GET /api/?lang=LANG&categories=CATEGORIES</pre>
              LANG: One Language out of {de,en}<br>
              CATEGORIES: one to many categories as comma seperated list.<br><br>
              For a list of valid combinations of language and category see below

              <br><br>

              <h5>Response (application/json):</h5>
              Same as before

              <p><br></p>

              <h5>Valid combinations of language and category are</h5>
              <table>
                <th>LANG</th><th>CATEGORIES</th>
                {% for s in selections %}
                  <tr>
                    <td> {{ s.0 }} </td>
                    <td> {{ s.1 }} </td>
                  </tr>
                {% endfor %}

              </table>

              <br>

              <a href="/" class="btn btn-outline btn-xl js-scroll-trigger">Start Now for Free!</a>
            </div>
          </div>
        </div>
      </div>
    </header>


    <footer>
      <div class="container">
        <p>&copy; Volker Kettenbach 2018. All Rights Reserved.</p>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/startbootstrap-new-age-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="/static/startbootstrap-new-age-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/startbootstrap-new-age-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/startbootstrap-new-age-gh-pages/js/new-age.min.js"></script>

  </body>

</html>
